<%- include('../layouts/header') %>

<!-- WELCOME SECTION -->
<div class="container-fluid bg-info d-flex justify-content-center align-items-center">
    <h1 class="text-center">WELCOME <%= admin.name.toUpperCase() %></h1>
</div>


<div class="container">
    <h1 class="text-center">Your Detials</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
                <%= admin.name.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>
            </td>
            <td><%= admin.mobile %></td>
            <td><%= admin.email %></td>
          </tr>
        </tbody>
      </table>
</div>

<h4 class="text-center"><button class="btn btn-info"><a class="text-decoration-none" href="/admin/dashboard">Dashboard</a></button></h4>


<!-- LOGOUT BUTTON -->
<div class="d-flex justify-content-center mt-5">
    <a class="btn btn-primary btn-lg" href="/admin/logout" role="button">Logout</a>
</div>

<%- include('../layouts/footer') %>
